<?xml version="1.0"?>
<launch>
	<!-- Load NiTE Tracker -->
	<include file="$(find openni2_tracker)/launch/openni2_tracker.launch" />
	<!-- Load Visualization -->
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find hand_publisher)/config/display.rviz" />
	<!-- Load Tf To String Node -->
	<node name="skeleton_to_hand_node" pkg="hand_publisher" type="skeleton_to_hand_node" />
</launch>

